@model BlueRibbonsReview.ViewModels.AnalyticsViewModel


@{
    ViewBag.Title = "Details on " + Html.DisplayFor(model => Model.Campaign.Name);
}
@{
    var percentOff = (Model.Campaign.RetailPrice - Model.Campaign.SalePrice) / Model.Campaign.RetailPrice;
}
<h2>
    @Html.DisplayFor(model => model.Campaign.Name)
</h2>
<p>@Math.Round(100 * percentOff, 0)% off the original price.</p>
@if (Model.Campaign.RemainingTime != null)
{
    TimeSpan remainingTime = (TimeSpan)Model.Campaign.RemainingTime;
    <h4>
        @(remainingTime.Days >= 1 ? String.Format("Expires in {0:%d} days.", remainingTime) :
                  remainingTime.Hours >= 1 ? String.Format("Expires in {0:%h} hours.", remainingTime) :
                                                            "Expires in less than an hour."
        )
    </h4>
}
else
{
    <h4>No expiration</h4>
}
@if (!(Double.IsNaN(Model.ReviewAverage))) //Checks for an undefined review average and omits the reviews summary if there are none.
{
    
        <div class="stars">
            <i class="star-1">1</i>
            <i class="star-2">2</i>
            <i class="star-3">3</i>
            <i class="star-4">4</i>
            <i class="star-5">5</i>
            <span style="width: @(Model.ReviewAverage * 20)%"></span>
        </div>
    
}
<h3>
    Sale Price  $@Html.DisplayFor(model => model.Campaign.SalePrice) &emsp;
</h3>

<p class="col-sm-8">
    @Html.DisplayFor(model => model.Campaign.Description)

</p>
<img class="col-sm-4" src="@Model.Campaign.ImageUrL" />




<h3>See What Other Buyers Have to Say</h3>
@foreach (var review in Model.Campaign.Reviews)
{
    <div>
        <hr />
        <ul>
            <li>
                @Html.DisplayFor(p => review.ApplicationUser.FirstName) | @Html.DisplayFor(p => review.ReviewDate) |
                @for (int i = 0; i < review.ProductRating; i++)
                {
                    <div class="star-rating__wrap ">
                        <span style="cursor:default" class="star-rating__ico fa fa-star fa-lg" title="@review.ProductRating out of 5 stars" value: @review.ProductRating></span>
                    </div>
                }

                | @{
                    var message = review.ReviewDetails;
                    var messageLength = review.ReviewDetails.Length;

                    if (messageLength > 40)
                    {
                        message = message.Substring(0, 40);
                        <span>@message...</span>
                    }
                    else
                    {
                        @Html.DisplayFor(p => review.ReviewDetails);
                    }
                }
            </li>
        </ul>
    </div>

}
<br />
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to Deals", "Index")
</p>
